#unique {color: blue;}
p.test {color: red;}

p.test.black.large {
	color: black;
	font-size: 30px;
}
ul > .test {color: black;}
ul .test{color: red;}

.nav li.test{ color: blue; }
.nav > *:not(.not_me){ color: red; }
li.test { color: black; }

.nav2 li.test2{ color: blue; }
.nav2 > *:not(.not_me){ color: red; }
li.test2 { color: black; }
li.test2:first-child { color:green; }

.nav3 li.test3{ color: blue; }
.nav3 > *:not(.not_me){ color: red; }
li.test3 { color: black; }
li.test3:first-child { color:green; }