<title> Here </title>
</head>
<script src="main.js"> </script>

<body onload="setup();readFile()">
    <div id="ConsoleOutput">Data here</div>

    <button type="button" onclick="addItem({
    item: 'newitem', price: 0.2 });console.log(basket);readFile();">Click Me!</button>

</body>
<script src="run.js"> </script>

</html>